{% extends 'layout.html' %}

{% block body %}
<br/>
<div class = "container">
    <div class = "container" style="text-align: center; border-style:solid; border-color:#F0FFFF; background-color:white; border-radius: 25px">
        <h1 class="title is-1 is-spaced"> Lindsey Maite </h1>
        <br/>
        <img class="is-rounded" src = "{{images['prof_img']}}" style = "width:15%; height:auto; border-radius: 50%; border-style:solid; border-color: #F0FFFF">
    </div>

    <br/>
    <div class="container">
        {% for link in links.items()%}
        <a class="button is-large is-fullwidth" href="{{link[1]['link']}}" title="{{link[1]['description']}}" style = "border-color: #E0FFFF">
            <img src = "{{images[link[0]]}}" width="8%" height="auto">
        </a>
        {% endfor %}
    </div>
    <br/>
</div>
{% endblock %}

