<nav class="navbar is-transparent" style="background-color: white">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="{{images['chameleon']}}" alt="Bulma: a modern CSS framework based on Flexbox" width="35" height=auto>
          </a>
        </div>
      
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
                Random stuff
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="https://www.youtube.com/watch?v=OfS1jFck8YQ">
                  My fav INNA's video 💖
                </a>
                <a class="navbar-item" href="https://www.facebook.com/Valkirias-Rugby-1688143508140261/">
                  Rugby Team FB
                </a>
                <a class="navbar-item" href="https://open.spotify.com/playlist/6doxLXobVwUTcTHMZykFRu">
                  Canciones para barrer el piso con la cola
                </a>
                <a class="navbar-item" href="https://www.facebook.com/TECHOguatemala/">
                  Techo Guatemala FB
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>